
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
backend/venv/
.env.*

# Node/Frontend
node_modules/
dist/
build/

# macOS / IDE
.DS_Store
.idea/
.vscode/
*.code-workspace

# Logs
*.log
logs/
